<div id="about-cont" class="container-fluid d-flex text-center text-white pt-3">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>GIVE WITH MEANING</h2>
            <P>For over 110 years, as the floral-gifting experts, we've been helping you give with more care, with
                greater ease, and with more meaning.<br>
                Established in 1910 as a collective of 10 florists, Florists' Transworld Delivery (FTD) used the
                telegraph to transform the age-old practice of flower-giving. We understood then the unique power of
                flowers to express a sentiment and helped people across the world “Say it with flowers.” Today, we have
                grown into an extensive network made up of thousands of local florists — each one an artisan who is
                handcrafting and hand-delivering fine bouquets all across the country.
                <br>
                When you're giving with FTD you're giving the gift of joy, strength, and love and you're giving it with
                meaning.
            </P>
            <h3>FTD.com Affiliate Program</h3>
            <p>Advertise FTD.com on your site and get 5% on your users' purchases</p>
        </div>
    </div>
</div>
<div class="container d-flex text-center text-dark pt-3 mb-5">
    <div class="row justify-content-center">
        
            <div class="row col-12">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="col-12 p-1">
                        <p class="mt-2"><strong>Advertise</strong></p>
                    </div>
                    <div class="col-12 about-box p-5 pt-1">
                        <p class="mt-1">Advertise FTD on your website</p>
                        <hr>
                        <p class="mt-1">Why Partner in FTD</p>
                        <p class="mt-5">After 100 years in business, we know a thing or two about flowers! In fact, we
                            invented the world's first floral network and are one of America's most recognizable brands.
                            Our
                            century of success is built on industry leading standards for floral quality, artistry, and
                            reliability. Join the FTD affiliate program and start generating revenue for your site.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="col-12 p-1">
                        <p class="mt-2"><strong>Convert</strong></p>
                    </div>
                    <div class="col-12 about-box p-5 pt-1">
                        <p class="mt-1">Upon ad selection users are taken to product</p>
                        <hr>
                        <p class="mt-1">What can you expect?</p>
                        <ul class="mt-5">
                            <li>Full time dedicated and experienced Affiliate Manager</li>
                            <li>Competitive commission and attractive conversion rate</li>
                            <li>Daily reporting through CJ Affiliate</li>
                            <li>Affiliation with the oldest and most recognized floral organization and Brand in the
                                world</li>
                            <li>Industry leading, best in class affiliate exclusive discounts</li>
                            <li>We deliver to almost 100% of the US residents and to major Canadian Metropolitan areas
                            </li>
                            <li>A customizable mobile site with technology that works on hundreds of devices</li>
                            <li>Product feed available</li>
                            <li>Same day delivery available</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="col-12 p-1">
                        <p class="mt-2"><strong>Earn</strong></p>
                    </div>
                    <div class="col-12 about-box p-5 pt-1">
                        <p class="mt-1">Earn 5% commission across all products & categories.</p>
                        <hr>
                        <p class="mt-1">How do I join?</p>
                        <p class="mt-5">Join now through CJ Affiliate. If you have questions about becoming an affiliate
                            of FTD, please contact us at:FTD-Affiliate@ftdi.com</p>
                    </div>
                </div>
            </div>