<nav id="nav-div" class="navbar navbar-expand-lg navbar-light bg-light py-1">
    <div class="container d-flex align-items-center">
        <a class="navbar-brand d-none d-lg-block" href="#">
            <img src="assets/flowerLogo.png" height="24">
        </a>
        <button id="hamburger" class="navbar-toggler px-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex justify-content-center" id="navbarNav">
            <ul class="navbar-nav margin-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#text-div">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#images-div">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#info">Contact</a>
                </li>

            </ul>
        </div>


        <div id="header-ikonice" class="d-flex">
            <div class="me-1">
                <ul id="header-padajuci-user" class="mb-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        </a>
                        <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul> -->
                    </li>
                </ul>
            </div>

            <div class="position-relative">
                <i class="fa fa-shopping-cart" aria-hidden="true">
                    <span id="header-ikonica-brojac" class="position-absolute top-40 start-100 translate-middle badge rounded-pill bg-secondary">
                        1
                        <span class="visually-hidden">brojac</span></span>
                </i>

            </div>
        </div>
    </div>
</nav>