#header-ikonice {
    font-size: 22px;
}

#header-padajuci-user {
    list-style-type: none;
    padding-left: 6px;
}

#header-ikonica-brojac {
    font-size: 11px;
}

#nav-div {
    font-size: 16px;
}

#hamburger {
    font-size: 12px;
}

#login-text {
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.brand1 {
    display: block;
}

.brand2 {
    display: none;
}

.brand-img{
    height: 24px;
}

@media (max-width: 991px) {
    .brand1 {
        display: none;
    }
    .brand2 {
        display: block;
    }
}