#header-ikonice {
    font-size: 16px;
}

#header-padajuci-user {
    list-style-type: none;
    padding-left: 6px;
}

#header-ikonica-brojac {
    font-size: 8px;
}

#nav-div {
    font-size: 12px;
}

#hamburger {
    font-size: 12px;
}