<div class="container-fluid d-flex justify-content-center">

    <div class="col-md-8">
        <div id="cat-row-gap" class="row justify-content-between">

            <div  class="col-md-3 my-2 p-0" *ngFor="let prod of listOfProducts" (click)="navigateToProduct(prod.id)">
                <img class="img-fluid" [src]="prod.imgSrc" alt=""><br>

                <span id="nazivProizvoda">{{prod.name}}</span><br>
                <span id="cenaProizvoda">{{prod.price}}</span><em>$</em><br>
            </div>
        </div>
    </div>
</div>