<div class="container-fluid d-flex justify-content-center">
    <div class="col-md-8">
        <div class="col-12 d-flex row justify-content-between">
            <div class="col-6 d-flex justify-content-start my-1">
                <a [routerLink]="['/']">Home</a>
                <a [routerLink]="['/shop']">/Shop</a>
                <a [routerLink]="['/shop', currentProduct.category]">/{{currentProduct.category}}</a>
                <a>/{{currentProduct.name}}</a>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <a (click)="prev(); kolicina.value=''">&lt; Prev |</a>
                <a (click)="next(); kolicina.value=''">&nbsp;Next &gt;</a>
            </div>
            <div class="d-flex justify-content-center row col-12">
                <div class="row d-flex justify-content-between col-12 mx-auto">
                </div>
                <div class="row d-flex justify-content-end col-12">
                    <div class="d-flex justify-content-end col-12 col-lg-5">
                        <img [src]="currentProduct.imgSrc" class="img-fluid"><br>
                    </div>
                    <div class=" col-12 col-lg-6">
                        <span id="nazivProizvoda">{{currentProduct.name}}</span><br>
                        <span id="cenaProizvoda">{{currentProduct.price}}</span><strong>$</strong><br>
                        <span id="opisProizvoda">{{currentProduct.description}}</span><br>
                        <hr>
                        <form action="" #quantityForm>
                            <label for="">Quantity</label>
                            <div class="row col-4 p-2">
                                <input type="number" min="0" class="form-control" #kolicina>
                                <button type="submit" class="btn btn-dark mt-2 mb-5 px-1"
                                    (click)="addToCart(currentProduct.name, kolicina.value, currentProduct.price, currentProduct.imgSrc); kolicina.value=''">Add
                                    to cart</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="cartModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <h5 class="modal-title naslov">WE WANT TO MEET YOU</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Please, Login to continue enjoying shopping on our site.</p>
                    <button class="btn btn-dark p-1" routerLink="/login" data-bs-dismiss="modal">LOG IN</button>
                </div>
            </div>
        </div>
    </div>

    <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#cartModal">Open Modal</button>
